<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Generator</title>
</head>
<body>
  <form action="" method=POST enctype=multipart/form-data>
      <h1 align="center">Report Generator Web App</h1>
      <br><br>
      <p align="center">Choose <b>Upload Files</b> option to upload your csv files into database</p>
      <p align="center">Choose <b>Download File</b> option to download the Report in either in CSV or PDF format</p>
      <br><br>
        <p align="center">
            <button type="submit" name="upload" value="upload"> Upload Files </button>&nbsp&nbsp&nbsp&nbsp
            <button type="submit" name="download" value="download"> Download File </button>
        </p>
  </form>
</body>
</html>